@{
    ViewBag.Title = "Application Confirmation";
}

<div class="container mt-5">
    <h2 class="text-center">Application Submitted</h2>
    <p class="text-center">Your job application has been successfully submitted. You will receive a confirmation email.</p>
    <div class="text-center">
        <a href="@Url.Action("AvailableJobs", "Jobseekr")" class="btn btn-primary">Go back to jobs</a>
    </div>
</div>
