@model Jobseekr.Models.LoginCommon

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Font Icon -->
    <link href="~/assets/signup/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />

    <!-- Main css -->
    <link href="~/assets/signup/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="signin-content">
        <div class="signin-image">
            <img src="~/assets/signup/images/signin-image.jpg" />
            <a href="/jobseekr/Registration" class="signup-image-link">Don't have an account ? Create an account now</a>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Log In</h2>
            <form method="POST" class="register-form" id="login-form">
                @using (Html.BeginForm("Login", "Jobseekr", FormMethod.Post, new { @class = "login100-form validate-form", id = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="Username" id="Username" placeholder="Username" required = "required"/>
                    </div>
                    <div class="form-group">
                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="Password" id="Password" placeholder="Password" required = "required"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                }
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="~/assets/signup/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/signup/js/main.js"></script>
</body>
</html>