
@{
    ViewBag.Title = "ReviewSuccess";
}

<h2>ReviewSuccess</h2>

<div class="container mt-5">
    <h2 class="text-center">Review Success</h2>

    <div class="alert alert-success" role="alert">
        Thank you for your review!
    </div>

    <div class="text-center">
        <a href="@Url.Action("AvailableJobs", "Jobseekr")" class="btn btn-primary">Back to Available Jobs</a>
    </div>
</div>

