@model List<Jobseekr.Models.JobApplication>

@{
    ViewBag.Title = "Job Applications";
}

<h2>Job Applications</h2>

<table class="table">
    <thead>
        <tr>
            <th>Applicant Name</th>
            <th>Applicant Email</th>
            <th>Resume</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model)
        {
            <tr>
                <td>@application.ApplicantName</td>
                <td>@application.ApplicantEmail</td>
                <td><a href="@application.Resume" target="_blank">Resume Link</a></td>
                <td>
                    @Html.ActionLink("Send Response", "SendJobApplicationResponse", new { applicationId = application.ApplicationId })
                </td>
            </tr>
        }
    </tbody>
</table>

